<!-- Student Profile -->

  <div  *ngIf="utilityService.isLoggedIn()" >
    <div class="student-profile py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center" >
                <img class="profile_img" src="../../assets/Images/{{Details.id}}.jpg" alt="">
                <h6>
                  <span>                <div *ngIf="checkid == 1">

                    Welcome Back Cheif {{Details.firstName}} {{Details.lastName}} <br> Admin Id :  {{Details.id}}
                  </div>
                      {{Details.firstName}} {{Details.lastName}} </span>
                  <br>
                  <br>
                  <h5>Account Created on {{Details.createdAt}} </h5>



                </h6>

              </div>

            </div>
          </div>

          <div class="col-lg-8">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>User Details</h3>
              </div>
              <div class="card-body pt-0">
                <table class="table table-bordered">
                  <tr>
                    <th width="30%">Name </th>
                    <td width="2%">:</td>
                    <td>{{Details.firstName}} {{ Details.lastName}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Account ID</th>
                    <td width="2%">:</td>
                    <td><div *ngIf="checkid == 1">
                      &nbsp; <b>Admin and User</b>
                  </div>{{Details.id}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Email	</th>
                    <td width="2%">:</td>
                    <td>{{Details.email}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Address</th>
                    <td width="2%">:</td>
                    <td>{{Details.address}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Account Created</th>
                    <td width="2%">:</td>
                    <td>{{Details.createdAt}}</td>
                  </tr>

                </table>
                <div class="card-body" >


                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
    <div class="cardDetails">
      <h1>  &nbsp; <i>Previous Purchase </i> </h1>
      <br>
      <div  *ngFor="let cart of usersPreviousCarts">
       <b>  &nbsp; &nbsp;Ordered On &nbsp;: &nbsp;</b>{{cart.orderedOn | date:"dd-MMM-YYYY"}}
       &nbsp; <b>Items &nbsp; : &nbsp;</b> {{cart.cartItems.length}}
       &nbsp; <b>Price &nbsp; : &nbsp;</b> {{utilityService.calculatePricePaid(cart)}}

      </div>
    </div>
  </div>








<div *ngIf="checkid == 1">
  <br>
  <div class="btn-group btn-group-lg me-2" role="group">
    <a href="cart"><button>Admin Login</button></a>
    <button (click)="refresh()" type="button"
     *ngIf="!utilityService.isLoggedIn()">Login</button>
  </div>

</div>





