<footer class="w-100 h-100 bg-light my-shadow d-flex justify-content-around align-items-center fs-4">
    <div>


        <span class="me-3">Made By:</span>
        <span class=" fst-italic">
         SPEKTRA SYSTEMS LLC Sassify &nbsp; <img width="128" height="53" src="../../assets/Images/Baner/saasify.png" alt="saasify">
        </span>
    </div>

    <div>
        <span>Created In: September : 2022</span>
    </div>

    <div>
        <span>&copy;
        2022 All rights reserved. <b><i>Bulk Buyers</i></b> </span>
    </div>
</footer>
