

<img width="1518" height="300" src="../../assets/Images/bulkbuyers.png" alt="" />
<div>
  <div class="hero_area">
    <section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">Deevali <b>DAMAKA</b> </li>
        <li  data-target="#carouselExampleIndicators" data-slide-to="1">Lets Start Trolley</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">Since 1890</li>
        </ol>
        <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="detail-box">
            <h5>
              Spread happiness with others and shop with us
              <br>
              The offers will last till Diwali, hurry up
            </h5>
            </div>
        </div>
        <div class="carousel-item">
            <div class="detail-box">
            <h5>
              Make Trolley Wheel Fire
              consumers to select products, <br>
               Take What you Want We are ON SALE !!!.
               Now
            </h5>
            </div>
        </div>
        <div class="carousel-item">
            <div class="detail-box">
            <h5 [align]="10">
              <i>we can probably save you some money and give you more of a service with a smile.</i>
            </h5>
            </div>
        </div>
        </div>
    </div>
    </section>
  </div>


  <section class="women_section layout_padding">
    <div class="container">
    <div class="box">
        <div class="row">
        <div class="col-md-6">
            <div class="img-box">
            <img src="../../assets/Images/mobile-phones.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-box">
            <div class="heading_container">
                <h2>
                Best <br />
                Mobiles
                </h2>
            </div>
            <p>
              Samsung, iPhone, Redmi, Realme, and POCO are some of
               the best mobile phone brands available in the Bulk Buyers market.
               And also the very base models of mobile phones that have only the voice calling
               and text messaging capabilities.
               <br>
                <li>Samsung</li>
                <li>Moto</li>
                <li>Redmi</li>
                <li>One Plus</li>
                <li>Apple</li>

            </p>
            <div class="btn-box">
              <a href="products?category=electronics&subcategory=mobiles" class="btn2">
                Buy Now
                </a>
                <a href="#" class="btn2">
                See More
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>


  <section class="women_section layout_padding">
    <div class="container">
    <div class="box">
        <div class="row">
        <div class="col-md-6">
            <div class="img-box">
            <img src="../../assets/Images/laptop.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-box">
            <div class="heading_container">
                <h2>
                Quality <br />
                LapTops
                </h2>
            </div>
            <p>
              Plenty of retailers and PC manufacturers hold their best prices in reserve
              for the biggest holiday sales periods each year.
              At Lenovo, sure, we love to celebrate alongside you by releasing some extra special laptop discounts around major holidays, but it's also our mission to not keep you waiting when you need a great deal anytime throughout the year.
               That's why you'll find some of the best laptop deals today,
                and every day, right here at the Lenovo Laptops Sale.
               <br>
                <li>Apple</li>
                <li>Lenovo</li>
                <li>Samsung</li>


            </p>
            <div class="btn-box">
              <a href="products?category=electronics&subcategory=laptops" class="btn2">
                Buy Now
                </a>
                <a href="#" class="btn2">
                See More
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>


  <section class="women_section layout_padding">
    <div class="container">
    <div class="box">
        <div class="row">
        <div class="col-md-6">
            <div class="img-box">
            <img src="../../assets/Images/chair.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-box">
            <div class="heading_container">
                <h2>
                Comfortable <br />
                Chairs
                </h2>
            </div>
            <p>
              Ergonomic Sitting Position : CELLBELL Calisto Chair provides you best in class sitting postures for extra comfort.
               Seat and Base : 2 inch Thick Foam Cushion Padded Seat for your long hours comfort | Pneumatic Hydraulic
              with 4 inch seat height adjustment | Breathable contoured Mesh Back Fabric | Chair comes with Sturdy Metal Base

            </p>
            <div class="btn-box">
              <a href="products?category=furniture&subcategory=chairs" class="btn2">
                Buy Now
                </a>
                <a href="#" class="btn2">
                See More
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>




  <section class="women_section layout_padding">
    <div class="container">
    <div class="box">
        <div class="row">
        <div class="col-md-6">
            <div class="img-box">
            <img src="../../assets/Images/table.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-box">
            <div class="heading_container">
                <h2>
                Strong <br />
                Tables
                </h2>
            </div>
            <p>
              About Space has been in the <b>organizing
              </b> zone of  homes and spaces <i>since 2014.</i>  About Space’s curated furniture products are designed to provide a modern, elegant, classy look to your spaces.
              Every product at About Space is designed and made with the sole purpose of adding beauty and good vibes to your spaces.
            </p>
            <div class="btn-box">
              <a href="products?category=furniture&subcategory=chairs" class="btn2">
                Buy Now
                </a>
                <a href="#" class="btn2">
                See More
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>




  <section class="women_section layout_padding">
    <div class="container">
    <div class="box">
        <div class="row">
        <div class="col-md-6">
            <div class="img-box">
            <img src="../../assets/Images/womenModelFasion.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-box">
            <div class="heading_container">
                <h2>
                Fashion <br />
                for women
                </h2>
            </div>
            <p>
              An elegant saree, a gorgeous dress, a pretty top paired with trendy palazzos –
               redefine yourself in multiple ways with women’s clothing online at BulkBuyers.
               We understand that when it comes to online shopping women’s clothing is a very important category.
               <br>
                <li>Midi Dress</li>
                <li>Off the Shoulder</li>
                <li>Shift Dress</li>
                <li>Bodycon Dress</li>
                <li>A-Line Dress</li>
                <li>Maxi Dress</li>
            </p>
            <div class="btn-box">
              <a href="products?category=clothes&subcategory=womens-tshirt" class="btn2">
                Buy Now
                </a>
                <a href="products?category=clothes&subcategory=womens-tshirt" class="btn2">
                See More
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>
  <section class="men_section layout_padding-bottom">
    <div class="container">
    <div class="box">
        <div class="row">
        <div class="col-md-7">
            <div class="detail-box">
            <div class="heading_container">
                <h2>
                Fashion <br />
                for men
                </h2>
            </div>
            <p>
              While it may seem like men take little interest in fashion,
              it could not be any further from the truth. Many men out there have a desire to dress exceptionally
               well and make a statement wherever they go. As a result, several outlets and apparel stores offer a wide
                variety of on-trend men’s
               fashion which perfectly match their personal tastes and sensibilities.
            </p>
            <div class="btn-box">
                <a href="products?category=clothes&subcategory=mens-tshirt" class="btn1">
                Buy Now
                </a>
                <a href="#" class="btn2">
                See More
                </a>
            </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="img-box">
            <img src="../../assets/Images/mens.jpg" alt="" />
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>
  <section class="modern_section layout_padding-bottom">
    <div class="container">
    <div class="box layout_padding">
        <div class="row">
        <div class="col-md-7">
            <div class="detail-box">
            <div class="heading_container">
                <h2>
                Modern <br />
                bag and glasses
                </h2>
            </div>
            <p>
              Let me start by saying that we understand you might be bewildered by the
              glass handbag trend. Ever since celebrities like Doja Cat, Kylie Jenner, and Kim Kardashian
              have sported the delicate tote on casual outings
               and red carpet events, fashion fans are left wondering if it's worth the risk to buy.
            </p>
            <div class="btn-box">
                <a href="#" class="btn1">
                Buy Now
                </a>
                <a href="#" class="btn2">
                See More
                </a>
            </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="img_container">
            <div class="img-box">
                <img src="../../assets/Images/glass.png" alt="" />
            </div>
            <div class="img-box">
                <img src="../../assets/Images/purse.png" alt="" />
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>
  <section class="shop_section layout_padding-bottom">
    <div class="container">
    <div class="box">
        <div class="img-box">
          <h2>
            About our shop
        </h2>
          <p>
            <br>
            <b>Since 1980, AFAC has always serviced some of the biggest names
              in the business. Whether you or your customers use thousands of parts per month
              , we can probably save you some money and give you more of a service with a smile.</b>
            <b>Bulk buyers tend to save 15-20% on masking items.</b>

            By showing you a proper saving we intend to win your loyalty. With your loyalty AFAC can
             grow and deliver better and better products and services that help manufacturing businesses.
             <br>

          </p>
        <img src="../../assets/Images/bulkbuyers.png" alt="" />
        <div class="detail-box">
            <div class="heading_container">

            </div>

            <a href="#" class="">
            Read More
            </a>
        </div>
        </div>
    </div>
    </div>
  </section>
  <section class="client_section">
    <div class="container">
    <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
        <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="box">
            <div class="heading_container">
                <h2>
                says customers
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="detail-box">
                    <h5>
                    Jack sumit
                    </h5>
                    <p>
                    <i>Go ahead and try on your favourite pair, <br>
                      wearing <b>eyeglasses</b>  will only add to your attractiveness quotient</i>
                      <b><br>
                        Jack sumit  A American Lyric  Writer recently Update his Blog as <h3><b>BulkBuyers</b></h3>
                      Glass are COOOLLL  :)</b>
                    </p>
                </div>
                </div>
                <div class="col-md-6">
                <div class="img-box">
                    <img src="../../assets/Images/client.jpg" alt="" />
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="box">
            <div class="heading_container">
                <h2>
                says customers
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="detail-box">
                    <h5>
                      Halsey
                    </h5>
                    <p>
                    <i>
                      Halsey, is an American pop singer. Gaining attention from self-released music on social media platforms,
                       He was signed by Astralwerks in 2014 and released her debut EP, Room 93, later that year.
                    </i><b>
                      Brand ambassador of Our <h3><b>BulkBuyers</b></h3>  New Outfits
                    </b>
                    </p>
                </div>
                </div>
                <div class="col-md-6">
                <div class="img-box">
                    <img src="../../assets/Images/client2.jpg" alt="" />
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="box">
            <div class="heading_container">
                <h2>
                says customers
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="detail-box">
                    <h5 color_lens="detail-box">
                      <b>
                        American Best Dance Crew
                        <br>
                        Winners
                        <i>
                          Quest Crew
                        </i>
                      </b>
                    </h5>
                    <p>
                      <b>Quest Crew is an American hip-hop dance crew</b> from Los Angeles, California who were declared winners
                       of the third season of <br>
                       America's Best Dance Crew. They made their first few appearances on
                        <h3><i>BulkBuyers</i></h3> clothes
                </div>
                </div>
                <div class="col-md-6">
                <div class="img-box">
                    <img src="../../assets/Images/client3.jpg" alt="" />
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>
  <section class="subscribe_section layout_padding">
    <div class="container">
    <div class="box">
        <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="subscribe_form ">
            <div class="heading_container">
                <h2>
                subscribe our newsletter
                </h2>
            </div>
            <p>
                Connect with US Check Below
            </p>
            <form>
                <input type="email" placeholder="Enter your email" />
                <button>
                subscribe
                </button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>
  <section class="contact_section layout_padding-bottom">
    <div class="container">
    <div class="box layout_padding2">
        <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="contact-form">
            <div class="heading_container">
                <h2>
                Request a call back
                </h2>
            </div>
            <form>
                <div>
                <input type="text" placeholder="Full Name " />
                </div>
                <div>
                <input type="text" placeholder="Phone Number" />
                </div>
                <div>
                <input type="email" placeholder="Email Address" />
                </div>
                <div>
                <input type="text" placeholder="Message" class="input_message" />
                </div>
                <div class="d-flex justify-content-center">
                <button type="button" class="btn_on-hover">
                    Send
                </button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>
  <section class="info_section layout_padding">
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4">
        <h5>
            Category
        </h5>
        <p>
          There are four types of products and each is classified based on consumer
          <br>
           habits, price, and product characteristics: convenience goods, shopping goods, specialty products, and unsought goods
        </div>
        <div class="col-md-7 offset-md-1 offset-lg-2 col-lg-6">
        <div class="row">
            <div class="col-md-5  ">
            <h5>
                Useful Links
            </h5>
            <ul>
                <li>
                <a href="products?category=electronics&subcategory=mobiles">
                 BulkBuyers Stock
                </a>
                </li>
                <li>
                <a href="#">
                  Head Office Chennai
                </a>
                </li>
                <li>
                <a href="#">
                    Departmental Store Location  Bangolre.
                </a>
                </li>
            </ul>
            </div>
            <div>
              <section>
                <table>

                  <tr>
                    <td>  <a  href="https://twitter.com/i/flow/login" target="_blank">
                      <img src="../../assets/Images/twitter-top.png" alt="" />&nbsp;
                      <i>Twitter &nbsp; &nbsp; <br></i>
                      </a>
                    </td>
                    <td>

                      <a href="https://www.facebook.com/" target="_blank">
                        <img src="../../assets/Images/fb-top.png" alt="" />&nbsp;
                        <i>FaceBook &nbsp; &nbsp; <br></i>
                        </a>
                    </td>
                    <td>

                      <a href="https://www.linkedin.com/login"  target="_blank">

                        <img src="../../assets/Images/linkedin-top.png" alt="" />&nbsp;
                        <i>Linked in &nbsp; &nbsp; <br></i>
                        </a>
                    </td>
                    <td>
                  <a href="https://www.instagram.com/"  target="_blank">
                    <img src="../../assets/Images/instagram-top.png" alt="" />
                    <i>&nbsp;Instagram   &nbsp; &nbsp; <br></i>
                    </a>
                    </td>
                  </tr>
                </table>
              </section>
            </div>
            <br>
            <div>
              <br>
            </div>
            <div class="col-md-6">
            <h5>
                Contact Us
            </h5>
            <div class="info_link-box">

                <span>+91 8234567890</span>
                <br>
                <span>+91 9987654323</span>
                <br>
                <span><b> <i>Shivaji Nagar, Chennai , Tamilnadu - 600018</i> </b>
                </span>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </section>



</div>




<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search"  autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Hero Name</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hero of heroes">
        <td>{{hero.id}}</td>
        <td>{{hero.name}}</td>
        <td>{{hero.country}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
